{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <h3 class="text-center">{% trans "Password Reset" %}</h3>
        {% if user.is_authenticated %}
        <div class="row">
            {% include "account/snippets/already_logged_in.html" %}
        </div>
        {% endif %}
        <div class="row mt-3">
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-sm-6 shadow">
            <form method="POST" action="{% url 'account_reset_password' %}" class="m-3">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-danger">{% trans "Reset My Password" %} &raquo;</button>
                </div>
            </form>
            <em class="fw-bold mb-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</em>
        </div>      
    </div>

</div>
{% endblock %}