{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row rounded">
        <div class="container-fluid  shadow-sm">
            <div class="row mt-1 mb-1">
                <div class="tags-scroll-wrapper text-center">
                    <!--start tag-->
                    {% for obj in objects %}
                        {% for tag in obj.tags.all %}
                        <div class="tag-badge">
                            <a href="{% url 'tagged' tag.slug %}" class="text-dark text-decoration-none">{{tag.name}}</a>
                        </div>
                        {% endfor %}
                    {% endfor %}                 
                    <!-- end tag -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="w-100">
            <form action="{% url 'search' %}" class="w-100">
                <div class="input-group">
                    <button type="submit" class="input-group-text search-btn border border-0">
                        <em class="bi bi-search" style="cursor: pointer;"></em>
                    </button>
                    <input type="text" name="q" class="form-control border border-0" placeholder="Search ...">
                </div>   
            </form>
        </div>
    </div>

    <!-- start articles -->
    {% if objects %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        {% for obj in objects %}
            {% include 'articles/includes/article_obj.html' %}
        {% endfor %}
    </div>
    <!-- end articles -->
    <div class="row mt-3">
        {% include 'articles/includes/pagination.html' %}
    </div>

    {% else %}
    <div class="mt-4">
        <h3 class="text-center text-danger"> We have no content uploaded at the moment, please check back later.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}